<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{% extends 'base/index.html' %}

{% block header %}
<h1> plantilla </h1>
{% endblock header %}
 

 

{% block plantilla %}
<body>
    <h1>
        
    </h1>

    <h2>
        {{nombre}}
    </h2>

    {% if nombre == apellido %}
        <h3>{{apellido}}</h3>
    {% endif %}

    {% for valor in lista %}
        <li>
            {{valor}}
        </li>
    {% endfor %}
</body>
</html>
{% endblock plantilla %}